.piano-roll-container {
  background-color: var(--container-background);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

.piano-roll-grid {
  grid-template-columns: 80px repeat(16, 1fr);
  grid-auto-rows: 24px;
  width: max-content;
  background-color: var(--background-color);
}

.piano-key {
  background-color: var(--container-background);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.note {
  background-color: #4a4a70;
  border: 1px solid #3e3a59;
}

.vintage-note-active {
  background-color: var(--primary-color);
}

.vintage-note-playing {
  background-color: #c3a6ff;
}

div::-webkit-scrollbar {
  height: 8px;
}

div::-webkit-scrollbar-track {
  background: var(--background-color);
}

div::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

select {
  background-color: var(--container-background);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}
